<!DOCTYPE html>
{% load static %}
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
                $('.click-hidden').toggleClass('hid');
                $('.close').toggleClass('close-is-active');
                $('.close-is-active').click(function () {

                    $('.click-hidden').removeClass('hid');
                  $('#blah').attr('src', '#');
                  $('.close').removeClass('close-is-active');
                  $('input').value('click');
                  $('.close').removeClass('close-is-active');
                })
                $('.choose_file').toggleClass('without-background');
            };
            reader.readAsDataURL(input.files[0]);

        }
    }
    close();
</script>
<html>
<head>
    <title>Home page</title>
    {{ form.media }}
</head>

<body>
{% block content %}{% endblock content %}
{% block post %}{% endblock post %}
</body>
</html>
