{% extends "base.html" %}
{% load static %}
{% block post %}
    <div>
        <nav>
            <div class="nav_bar">
                <div class="nav_bar_center">
                    <ul id="nav-mobile" class="left">
                        <li><img src="{% static 'icons/kodland.svg' %}"/></li>
                        <li class="blog"><p class="blog"> Блог / Добавить статью </p></li>
                    </ul>
                </div>
                <ul class="right">
                    <li><a> <img src="{% static 'icons/login.svg' %}"/> </a></li>
                    <li><img src="{% static 'icons/user.svg' %}"/></li>
                    <li><a> <img src="{% static 'icons/logout.svg' %}"/> </a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col m12">
                    <h1> Добавить статью</h1>
                </div>
                <form method="post" class="form-container col m12 row" enctype=multipart/form-data>
                {% csrf_token%}
                    {% for key, value in form.errors.items %}
                         <p class="forms-errors"> {{ key }}: {{ value }}</p>
                    {% endfor %}
                    <ul class="list-post col m12 row">
                        <li class="item-info col m7 form-title"> {{ form.title }} </li>
                        <li class="li item-sub col m4 "><input class="form-submit-button" type="submit"
                                                               value="Опубликовать"></li>
                    </ul>
                    <ul class="dec-list col m12 row">

                        <li class="col m7"> {{ form.text }} </li>
                        <li class="li col m4">
                            <div class="form-image-container">
                                <p>Загрузить изображение</p>
                                <div class="choose_file">
{#                                    <form>#}
                                        <label class="label-input" for="go">{{ form.image }}
                                            <p class="click-hidden">Выбрать</p>
                                        </label>
{#                                    </form>#}
                                    <div class="close"></div>
                                    <img class="form-image " id="blah" src="" alt=""/>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

{#                <div class="add-article-heading">#}
{#                    <h1> Добавить статью</h1>#}
{#                </div>#}
{#                <form class="form-container row" method="post" enctype=multipart/form-data>{% csrf_token %}#}
{#                    {% for key, value in form.errors.items %}#}
{#                        <p class="forms-errors"> {{ key }}: {{ value }}</p>#}
{#                    {% endfor %}#}
{#                    <ul>#}
{#                        <li class=" ">  {{ form.title }} </li>#}
{#                        <li><input class="form-submit-button" type="submit" value="Опубликовать"></li>#}
{#                    </ul>#}
{##}
{#                    <ul>#}
{#                        <li class="form-text"> {{ form.text }} </li>#}
{#                        <li>#}
{#                            <div class="form-image-container">#}
{#                                <p>Загрузить изображение</p>#}
{#                                <div class="choose_file">#}
{#                                    {{ form.image }}#}
{#                                    <img class="form-image " id="blah" src="" alt="Выбрать"/>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                    </ul>#}
{##}
{#                </form>#}
    </div>
{% endblock post %}
